<div class="chat-mini">
  <div class="chat-mini-header">
    <div class="chat-mini-title-wrap">
      <div class="chat-mini-title">Assistant Intelligent</div>
      <div class="chat-mini-subtitle">En ligne</div>
    </div>

    <button
      *ngIf="embedded"
      type="button"
      class="chat-close-btn"
      (click)="closePanel.emit()"
      aria-label="Fermer">
      ✕
    </button>
  </div>

  <div class="chat-mini-body" #chatBody>
    <div
      class="message-row"
      *ngFor="let message of messages"
      [ngClass]="message.sender">

      <div class="message-bubble">
        <p>{{ message.text }}</p>
        <span>{{ message.time }}</span>
      </div>
    </div>

    <div class="message-row bot" *ngIf="isLoading">
      <div class="message-bubble typing">
        <div class="typing-dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <small>L’assistant répond...</small>
      </div>
    </div>
  </div>

  <div class="chat-mini-footer">
    <input
      class="chat-input"
      type="text"
      [(ngModel)]="userMessage"
      (keydown)="handleEnter($event)"
      placeholder="Écrire un message..." />

    <button class="send-btn" type="button" (click)="sendMessage()">
      Envoyer
    </button>
  </div>
</div>